// colors
    // primary
        $peach:#e7816b;
        $black:#1D1C1E;
        $white:#fff;
    // secondary
        $lightpeach:#FFAD9B;
        $lightbg:#FDF3F0;
        $darkgrey:#333136;
        $lightgrey:#F1F3F5;
// typography
    $regular:400;
    $medium:500;
// buttons 
button{
    font: {
        size:15px;
        weight:$medium;
    }
    border:none;
    color:white;
    cursor: pointer;
    margin-right:1rem;
    width:9.5rem;
    height:3.5rem;
    border-radius: .5rem;
    text-transform: uppercase;
    &:hover {
            background-color: $lightpeach;
            transition: 1s;
        }
}
.darkbtn {
    color:$black;
    background-color: $white;
    &:hover{
        color:$white;
    }
}
.lightbtn {
    background-color: $peach;
}
$width:1440px;
$contentwidth:1100px;

$tabletheight:202px;
$tabletwidth: 834px;
$tabletcontentwidth:689px;

$mobilewidth:375px;
$mobilecontentwidth:357px;
$mobileheight:250px;

$marginmobile:3rem 0;
$marginbottommobile: 0 0 3rem;

$margin:7rem 0 0;
$marginbottom: 8rem 0 2rem;

@mixin  container {
    max-width: 1200px;
}
@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin space-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}