@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import 'global';

:root {
  // font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
  // border:5px solid green;
}
body, html{
  margin:0;
  padding:0;
  overflow-x: hidden;
}
section:not( .office, .footernav){
  margin:$marginbottom;
  width:$contentwidth;
  // border:5px solid red;
  @media (width < 700px){
    margin-bottom: $marginbottommobile;
  }
     @media (width > 600px) and (width < 1000px) {
       width:$tabletwidth;
     }
}
ol, ul {
  padding:0;
  margin:0;
}
li{
  list-style-type: none;
}