@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import 'global';

:root {
  // font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
  // border:5px solid green;
}
body, html{
  margin:0;
  padding:0;
}
section:not(.home_contact_section, .office, .footernav){
  margin:6rem 0;
  @media (width < 700px){
    margin:2rem 0;
  }
}
ol, ul {
  padding:0;
  margin:0;
}
li{
  list-style-type: none;
}