@import 'global';
#location{
    margin:auto;
        section{
            width:100%;
            margin:2rem 0;
            height:fit-content;
            @include center-content(); 
            flex-direction: column;
                        div{
                            width:100%;
                            text-align: center;
                            overflow: hidden;
                            padding:0 0 1rem;
                            border-radius: 1rem;
                            background-color: $lightbg;
                            .heading{
                                color:$peach;
                                font-size: 30px;
                                margin-bottom:1.5rem;
                            }
                                span{
                                    font-weight: $medium;
                                    text-transform: capitalize;
                                    display: block;
                                }
                                div{
                                    width:40%;
                                    margin: auto;
                                }
                    }
        }
}
#location img {
    width:100%;
}
   #location {
       section:nth-child(3) {
           margin-bottom: 13rem;
       }
   }
 @media (width > 1000px) {
    #location{
         width: 69.348rem;
            section {
                width:100%;
                flex-direction: row;
                margin:1.5rem 0; 
                    div {
                        margin-left:1.5rem;
                        // height:45vh;
                        height:285px;
                        @include center-content();
                        // border:1px solid black;
                        flex-direction: column;
                            .heading{
                                width:350px;
                                font-size: 40px;
                                text-align: left;
                        }
                        div{
                            height:14vh;
                            width:100%;
                            @include center-content();
                            flex-direction: row;
                            padding:1rem 4rem;
                            margin:1rem 0 0;
                        p{
                            text-align: left;
                            width:165px;
                            margin-left:1.5em;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        #location section:nth-child(1), #location section:nth-child(3){
            flex-direction: row-reverse;
        }
        #location{
            section{
                div:nth-child(1){
                    width:50%;
                }
            }
        }
        #location {
            section:nth-child(1){
                margin-top:6rem;
            }
        }
        // #location{
        //     section:nth-child(3){
        //         margin-bottom: 15rem;
        //     }
        // }
 }
